body {
    color: #121212;
    margin: auto;
    padding: 1rem;
    max-width: 85ch;
    font-family: Roboto, -apple-system, 'Noto Sans', 'Droid Sans', 'Segoe UI', SegoeUI, Helvetica, 'Helvetica Neue', sans-serif;
}

a { color: #0042ea; }
a:visited { color: #573dd0; }
a:hover {
    background-color: rgba(62, 0, 193, .033);
}

p { 
    line-height: 1.6;
}

article p {
    hyphens: auto;
}

p.warning {
    font-weight: 500;
}
p.warning:before { content:'⚠️ '; }

li { list-style-type: square; }
li:not(:last-child) {
    margin-bottom: .4em;
}

code {
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
}

h1, h2, h3 {
    font-weight: 500;
}

h2 {
    margin-top: 1.2em;
    font-size: 1.2em;
}

h3 {
    margin-top: 1.1em;
    font-size: 1em;
}

nav {
    padding-bottom: 1.6em;
}

nav .nav-item:not(:last-child) {
    margin-right: .5em;
}

nav .nav-item a {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

nav .nav-item::before {
    content: '<';
}
nav .nav-item::after {
    content: '>';
}

.starred::after {
    content: ' 🌟';
}

footer {
    margin-top: 10vh;
    margin-bottom: 1.6em;
    font-size:.8em;
}

pre.console, pre {
  background-color: black;
  color: #ececec;
  padding: 1em 1em 1em 1em;
  border-radius: 6px;
}

blockquote {
    font-style: italic;
    margin-left: 2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ececec;
    }
    a { color: #84a2ee; }
    a:visited { color: #bb86fc; }
}

time.pubdate {
    opacity: .7;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3ch;
}

.grid-item {
    flex: 0 0 41ch;
}

@media (max-width: 1024px) {
  .grid {
    display: block;
  }
}
